{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "implicit-arrow-linebreak" :"off",
    "operator-linebreak": "off",
    "comma-dangle": "off",
    "function-paren-newline": "off",
    "object-curly-newline": "off",
    "consistent-return": "off",
    "nonblock-statement-body-position": "off"
  }
}